#bg {
    background-image: url("./change.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}

#change-part {
    padding-top: 80px;
    padding-left: 350px;
}

.div-img {
    text-align: center;
}
